<!--Apresentação do Site, pagina explicativa-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Gerenciamento de Próteses
      </h1>
      <p class="lead text-center">
        Olá Sr(a) Protético(a)! Seja Bem-vindo ao nosso Sistema de Gerenciamento de Próteses!
        Este sistema foi projetado pra ajudá-lo a organizar seus trabalhos de forma eficiente e facíl,
        tornando seus dias mais descomplhicados e potencializando sua produtividade.
      </p>
      <p class="text-center">
        Com nosso sistema você pode:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Cadastrar novos trabalhos</li>
        <li class="list-group-item">Visualizar trabalhos já existentes</li>
        <li class="list-group-item">Atualizar trabalhos (em andamento, conluidas, etc...)</li>
        <li class="list-group-item">Classificar seu andamento e processo</li>
        <li class="list-group-item">Identificar pacientes e adicionar local remetente</li>
      </ul>
      <p class="text-center mt-4">
        Organização e aumento de produtividade você encontra aqui! Teste agora mesmo!
      </p>
    </div>
  </div>
</div>
